.report {
background : #000000;
font-family : calibri;
font-size : medium;
font-weight : bold;
color : #000000;
}

        .table-detail{
            background-color:#DEDCD3;
            font-family:calibri;
            font-size:small;
            color:#1C515A;
            border-bottom-color:#859CA1;
            border-bottom-style:solid;
            border-bottom-width:thin;
            border-left-color:#859CA1;
            border-left-style:solid;
            border-left-width:thin;
            border-right-color:#859CA1;
            border-right-style:solid;
            border-right-width:thin;
            border-top-color:#859CA1;
            border-top-style:solid;
            border-top-width:thin;
       }
        .table-header {
            background-color:#5C6C7B;
            font-family:calibri;
            font-size:medium;
            font-weight:bold;
            color:#DEDCD3;
		}
		
		.table-footer{
            background-color:#5C6C7B;
            font-family:calibri;
            font-size:medium;
            font-weight:bold;
            color:#000000;
       }
	   
.table-group-header-1{
			background-color:#859CA1;
            font-family:calibri;
            font-size:medium;
            font-weight:bold;
            color:#000000; 
}

.table-group-header-2 {
background-color:#859CA1;
            font-family:calibri;
            font-size:medium;
            font-weight:bold;
            color:#000000; 
}

.table-group-header-3 {
background-color:#859CA1;
            font-family:calibri;
            font-size:medium;
            font-weight:bold;
            color:#000000;
}


/* .table-detail {

background : #EBEBEB;
font-size : 10px;
font-weight : normal;
color : #666;
vertical-align: middle;
} */


.table-group-footer-3 {
background-color:#859CA1;
            font-family:calibri;
            font-size:small;
            font-weight:bold;
            color:#F5F5DC;
}


.table-group-footer-2 {
background-color:#859CA1;
            font-family:calibri;
            font-size:small;
            font-weight:bold;
            color:#F5F5DC;
}

.table-group-footer-1 {
background-color:#859CA1;
            font-family:calibri;
            font-size:small;
            font-weight:bold;
            color:#F5F5DC;
}
        
/* .table-header {

font-size: 10px;
font-weight: bold;
color: #000000;
background: #358FB2;
border-bottom-color:#666;
border-bottom-style: solid; 
border-bottom-width: thin;
vertical-align: middle;
}




.table-footer {

background : #5C6C7B;
color:#DEDCD3;
font-weight: bold;
font-size : small;
}
 */



.chart {

font-size: small;
font-weight: bold;
font-style: italic;
color: #5C6C7B;
border-color: #5C6C7B;
border-style: solid; 
border-width: thin;
}




.list-header {

background : #5C6C7B;
font-size: small;
font-weight: bold;
color: #DEDCD3;
}


.list-group-header-1{

background : #859CA1;
font-size: small;
font-weight: bold;
color: #F5F5DC; 
}

.list-group-header-2 {

font-size: small;
font-weight: bolder;
color: #5C6C7B; 
}

.list-group-header-3 {

font-size: small;
font-weight: bold;
font-style: italic;
color: #5C6C7B; 
}


.list-detail {

background : #DEDCD3;
font-size : x-small;
font-weight : bold;
color : #1C515A;
border-bottom-color: #859CA1;
border-bottom-style: solid; 
border-bottom-width: thin;
}

.list-group-footer-3 {

font-size: x-small;
font-weight: bold;
font-style: italic;
color: #5C6C7B; 
}


.list-group-footer-2 {

font-size: small;
font-weight: bolder;
color: #5C6C7B; 
}

.list-group-footer-1 {

font-size: small;
font-weight: bolder;
color: #1C515A; 
}

.list-footer {

background : #5C6C7B;
color:#DEDCD3;
font-weight: bold;
font-size : small;
}
